<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
    <!--타임리프 설정-->
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Song+Myung&display=swap" rel="stylesheet">
<meta http-equiv = "Content-Type" content="text/html;charset=UTF-8">
</head>
<style>
	.footer{
		font-size : 15px;
		font-family: 'Song Myung', serif;
		
	}

</style>
<body>
<hr>
<div class = "footer">
전화 : 010-1234-5678<br>
이메일 : rlaxodmscjsw@naver.com
ⓒ KTE SHOPPINGMALL Corp. All Rights Reserved.
</div>
</body>
</html>