<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta http-equiv = "Content-Type" content="text/html;charset=UTF-8">
<head>
  <th:block th:include="fragments/common/header"></th:block>
</head>
<style>
	.main{
		width : 100%;
	}

</style>
<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">


<!--     Navbar
    <th:block th:include="fragments/common/navbar"></th:block>

    Main Sidebar Container
    <th:block th:include="fragments/common/sidebar"></th:block>
 -->
<!--     Content Wrapper. Contains page content-->
    
    <!--  /.content-wrapper
 -->
<!--     <th:block th:include="fragments/common/footer"></th:block> -->

<!--     Control Sidebar
    <aside class="control-sidebar control-sidebar-dark">
    Control sidebar content goes here
    </aside> -->
    
    </div>
  <img src = "http://localhost:8080/images/main_final.png" alt = "main" class = "main"/>
 <th:block th:include="fragments/content/main"></th:block>
  
 <th:block th:include="fragments/common/footer"></th:block>
</html>













