<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
<meta http-equiv = "Content-Type" content="text/html;charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<hr>
<div>
<p> 담당자 : 김태은 <br>
이메일 : rlaxodmscjsw@naver.com<br></p>
<!-- <p> Copyright 2020. Homzzang.com. All rights reserved <p> -->
</div>
</body>
</html>